.picker .react-colorful {
  width: 292px;
  padding: 0px;
  /* height: 142px; */
  /* padding: 16px; */
  /* box-sizing: border-box; */
}
.picker .react-colorful__saturation{
  height: 142px;
  /* padding-bottom: 20px; */
  border: none;
  border-radius: 4px;
}
.picker .react-colorful__interactive{
  /* margin-bottom: 20px; */
  /* height: 142px; */
  border: none;
  border-radius: 4px;
}

.picker .react-colorful__pointer,
/* .picker .react-colorful__pointer-fill, */
.picker .react-colorful__saturation-pointer {
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
}


.picker .react-colorful__hue {
  /* width: 10px; */
  /* height: 10px; */
  /* border: 2px solid #fff; */
  margin-top: 8px;
}

.picker .react-colorful__last-control ,
.picker .react-colorful__last-control .react-colorful__interactive{
  /* margin-bottom: 20px; */
  height:10px;
  border: none;
  border-radius: 999px;
}